
@{
    ViewBag.Title = "AddReference";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Referans Ekleme Sayfası</h2>

<form method="post">
    <label>Ad Soyad</label>
    <input type="text" class="form-control" name="NameSurname" />
    <br />
    <label>Memleket</label>
    <input type="text" class="form-control" name="HomeTown" />
    <br />
    <label>Düşünceler</label>
    <input type="text" class="form-control" name="Thoughts" />
    <br />
    <button class="btn btn-info">Referansı Kaydet</button>
</form>


