@model List<Casgem_Portfolio.Models.Entities.TblReference>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
    int count = 0;
}

<h2>Referans Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Memleket</th>
        <th>Düşünceler</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.NameSurname</td>
            <td>@item.Hometown</td>
            <td>@item.Thoughts</td>
            <td><a href="/AdminReference/DeleteReference/@item.ReferenceID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/AdminReference/UpdateReference/@item.ReferenceID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/AdminReference/AddReference" class="btn btn-outline-primary">Yeni Referans Girişi</a>

