
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Hakkımda Detay Sayfası İkici Bölüm Ekleme Sayfası</h2>

<form method="post">
    <label>Küçük Başlık</label>
    <input type="text" class="form-control" name="SmallTitle" />
    <br />
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <label>Ad Soyad</label>
    <input type="text" class="form-control" name="Skill1Title" />
    <br />
    <label>Yaş</label>
    <input type="text" class="form-control" name="Skill1Description" />
    <br />
    <label>Şehir</label>
    <input type="text" class="form-control" name="Skill2Title" />
    <br />
    <label>Email</label>
    <input type="text" class="form-control" name="Skill2Description" />
    <br />
    <label>Resim Yolu</label>
    <input type="text" class="form-control" name="Skill3Title" />
    <br />
    <label>Github Linki</label>
    <input type="text" class="form-control" name="Skill3Description" />
    <br />
    <button class="btn btn-info">Hakkımda Yazısını Ekle</button>
</form>

