
@{
    ViewBag.Title = "AddContact";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Firma Bilgisi Ekleme Sayfası</h2>

<form method="post">
    <label>"Telefon Numarası</label>
    <input type="text" class="form-control" name="PhoneNumber" />
    <br />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" />
    <br />
    <label>Adres</label>
    <input type="text" class="form-control" name="Location" />
    <br />
    <button class="btn btn-info">Firma Bilgisini Ekle</button>
</form>


