
@{
    ViewBag.Title = "AddAchievement";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Başarı Ekleme Sayfası</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <label>Başarı 1</label>
    <input type="text" class="form-control" name="Achievement1" />
    <br />
    <label>Başarı 2</label>
    <input type="text" class="form-control" name="Achievement2" />
    <br />
    <label>Başarı 3</label>
    <input type="text" class="form-control" name="Achievement3" />
    <br />
    <label>Başarı 4</label>
    <input type="text" class="form-control" name="Achievement4" />
    <br />
    <button class="btn btn-info">Başarıları Ekle</button>
</form>


