
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Proje Ekleme Sayfası</h2>

<form method="post">
    <label>Proje Başlığı</label>
    <input type="text" class="form-control" name="ProjectTitle" />
    <br />
    <label>Proje Açıklaması</label>
    <input type="text" class="form-control" name="ProjectDescription" />
    <br />
    <label>Proje Resim Yolu</label>
    <input type="text" class="form-control" name="ProjectImageUrl" />
    <br />
    <label>Proje Linki</label>
    <input type="text" class="form-control" name="ProjectLink" />
    <br />
    <button class="btn btn-info">Projeyi Kaydet</button>
</form>



