@model List<Casgem_Portfolio.Models.Entities.TblProject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
    int count = 0;
}

<h2>Proje Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Proje Linki</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.ProjectTitle</td>
            <td>@item.ProjectDescription</td>
            <td>@item.ProjectLink</td>
            <td><a href="/AdminProject/DeleteProject/@item.ProjectID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/AdminProject/UpdateProject/@item.ProjectID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/AdminProject/AddProject" class="btn btn-outline-primary">Yeni Proje Girişi</a>

