
@{
    ViewBag.Title = "AddAchievement";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>Yeni Başarı Detayı Ekleme Sayfası</h2>

<form method="post">
    <label>Küçük Başlık</label>
    <input type="text" class="form-control" name="SmallTitle" />
    <br />
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <label>Başarı 1 Başlık</label>
    <input type="text" class="form-control" name="Skill1Title" />
    <br />
    <label>Başarı 1 Açıklama</label>
    <input type="text" class="form-control" name="Skill1Description" />
    <br />
    <label>Başarı 2 Başlık</label>
    <input type="text" class="form-control" name="Skill2Title" />
    <br />
    <label>Başarı 2 Açıklama</label>
    <input type="text" class="form-control" name="Skill2Description" />
    <br />
    <label>Başarı 3 Başlık</label>
    <input type="text" class="form-control" name="Skill3Title" />
    <br />
    <label>Başarı 3 Açıklama</label>
    <input type="text" class="form-control" name="Skill3Description" />
    <br />
    <label>Başarı 4 Başlık</label>
    <input type="text" class="form-control" name="Skill4Title" />
    <br />
    <label>Başarı 4 Açıklama</label>
    <input type="text" class="form-control" name="Skill4Description" />
    <br />

    <button class="btn btn-info">Başarıları Ekle</button>
</form>


